/* Stylesheet */

html {
    background: #E4DFD8;
    margin: 0px;
    padding: 0px;
}
.header-container {
    background: #1E9C99;
    background: linear-gradient(#064D51, #6BBCB1);
    display:flex;
    justify-content: center;
    align-items: flex-end;
    height: 120px;
}

#logo {
    margin-left: 0px;
    margin-right: auto;
    align-items: flex-start;
}

ul {
    list-style-type: none;
}

#nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    font-weight: 900;
    gap: 30px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
}

#nav > li:hover {
    border: solid white;
    border-radius: 5px;
    border-width: 2px;
    padding: 8px;
    font-size: 22px;
}

.start {
    color: white;
    background-color: blue;
    font-size: 20px;
    border: solid white;
    border-radius: 8px;
    padding: 10px;
}
.start:hover {
    transition: 300ms;
    background: rgb(17, 17, 154);
}

.title-container {
    background: #064D51;
    background: linear-gradient(#6BBCB1, #064D51);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    margin-top: 0px;
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 35px;
}

.title-main {
    margin: 0px;
    font-size: 34px;
    font-weight: 900;
    color: white;
    padding: 0px;
}

.subtitle {
    color: white;
    font-weight: 400;
    margin: 0px;
}
.subtitle > span{
    color: yellow;
    margin: 0px;
}

.webbtech-title > p {
    color: white;
    font-weight: 100;
    margin: 0px;
}

#journey {
    margin-top: 30px;

}

.credit {
    color: white;
    font-weight: 50;
    font-style: italic;
    font-size: 8px;
    margin: 0px;
}