/* Stylesheet */

html {
    background: #E4DFD8;
    margin: 0px;
    padding: 0px;
}

p {
    line-height: 1.5rem;
}

img {
    display: block;
    max-width: 100%;
}

body {
    width: auto;
}

.header-container {
    background: #1E9C99;
    background: linear-gradient(#064D51, #6BBCB1);
    display:flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 120px;
    max-width: 100%;
}

#logo {
    margin-left: 0px;
    margin-right: auto;
    align-items: flex-start;
}

ul {
    list-style-type: none;
}

#nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    font-weight: 900;
    gap: 30px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
}

#nav > li:hover {
    border: solid white;
    border-radius: 5px;
    border-width: 2px;
    padding: 8px;
    font-size: 22px;
}

.start {
    color: white;
    background-color: blue;
    font-size: 20px;
    border: solid white;
    border-radius: 8px;
    padding: 10px;
}
.start:hover {
    transition: 300ms;
    background: rgb(17, 17, 154);
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #064D51;
    background: linear-gradient(#6BBCB1, #064D51);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    margin-top: 0px;
    box-shadow: 0px 15px 50px #064D51;
    flex-wrap: wrap;
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 35px;
}

.title-main {
    margin: 0px;
    font-size: 38px;
    font-weight: 900;
    color: white;
    padding: 0px;
}

.subtitle {
    color: white;
    font-weight: 400;
    margin: 0px;
}
.subtitle > span{
    color: yellow;
    margin: 0px;
}

.webbtech-title > p {
    color: white;
    font-weight: 100;
    margin: 0px;
}

#journey {
    margin-top: 30px;

}

.credit {
    color: white;
    font-weight: 50;
    font-style: italic;
    font-size: 8px;
    margin: 0px;
}

.feature {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 60px;
    text-align: center;
}

.feature-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.about-container .about {
    display: block;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.para-about {
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.odin-container {
    margin: 20px;
    padding: 20px;
    margin-right: 0px;
    margin-left: 0px;
    background: linear-gradient(to right, #064D51, #6BBCB1, #064D51);
    border: 5px solid #064D51; box-shadow: 10px 10px 50px #064D51;
}

.odin-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.odins-text {
    font-size: 38px;
    color: white;
    font-weight: 800;
    margin-bottom: 3px;
}

.para-for-odin {
    font-size: 18px;
    color: white;
    font-weight: 200;
    font-style: italic;
}

.odin-para {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.project-box {
    border: solid 5px #1E9C99;  
    padding: 50px;
    width: 150px;
    height: 50px;
    background: radial-gradient(#6BBCB1, #064D51);
    color: white;
}

.examples {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 28px;
    border-bottom: 4px solid #064D51;
    width: 100%;
}

.my-projects {
    border-top: 4px solid #064D51;
    width: 100%;
}

.my-projects > h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.github > h2 {
    font-size: 38px;
    font-weight: 800;

}

.github > a {
    font-size: 22px;

}

footer{
    height: 200px;
    background:linear-gradient(to bottom, #6BBCB1, #064D51);
    border-top: 5px solid #6BBCB1;
    margin: 0px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
